<script id="bootstrap-current-user" type="text/javascript">
  <% if logged_in? %>
  	window.currentUser = <%= render("api/users/user.json.jbuilder",
  		user: current_user).html_safe %>
  <% end %>

  window.staticImages = {
    splititlogo: '<%= asset_url('splititlogo.png') %>',
    greetingMain: '<%= asset_url('greeting_main.jpg') %>'
  }
</script>


<main id="root"></main>
