/* line 3, /Users/luismuyaguari/Desktop/FullStack/SplitIt/app/assets/stylesheets/03_greeting_main.scss */
.main-greeting-div {
  display: flex;
  flex-direction: column;
  font-family: 'Lato','Helvetica Neue',Helvetica,Arial,sans-serif !important;
  display: block;
  padding-top: 40px;
  padding-bottom: 40px;
  margin: 10px;
}

/* line 15, /Users/luismuyaguari/Desktop/FullStack/SplitIt/app/assets/stylesheets/03_greeting_main.scss */
.main-greeting-top-section {
  display: flex;
  flex-direction: column;
  vertical-align: -2px;
}

/* line 22, /Users/luismuyaguari/Desktop/FullStack/SplitIt/app/assets/stylesheets/03_greeting_main.scss */
.main-greeting-top-section div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

/* line 30, /Users/luismuyaguari/Desktop/FullStack/SplitIt/app/assets/stylesheets/03_greeting_main.scss */
.main-greeting-top-section div p {
  font-size: 68px;
  white-space: nowrap;
  font-weight: bold;
}

/* line 36, /Users/luismuyaguari/Desktop/FullStack/SplitIt/app/assets/stylesheets/03_greeting_main.scss */
.main-greeting-top-section p {
  text-align: center;
  padding: 10px;
  font-size: 21px;
  line-height: 26px;
  color: #444;
  text-rendering: optimizeLegibility;
}

/* line 45, /Users/luismuyaguari/Desktop/FullStack/SplitIt/app/assets/stylesheets/03_greeting_main.scss */
.main-greeting-top-section p span {
  font-weight: bold;
}

/* line 49, /Users/luismuyaguari/Desktop/FullStack/SplitIt/app/assets/stylesheets/03_greeting_main.scss */
.main-greeting-top-section img {
  height: 200px;
  width: 200px;
  padding: 0px;
}

/* line 55, /Users/luismuyaguari/Desktop/FullStack/SplitIt/app/assets/stylesheets/03_greeting_main.scss */
.main-greeting-bottom-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* line 62, /Users/luismuyaguari/Desktop/FullStack/SplitIt/app/assets/stylesheets/03_greeting_main.scss */
.main-greeting-bottom-section img {
  height: 700px;
  width: 700px;
}

/* line 67, /Users/luismuyaguari/Desktop/FullStack/SplitIt/app/assets/stylesheets/03_greeting_main.scss */
.main-greeting-bottom-section a {
  padding-top: 20px;
  width: 260px;
  align-items: center;
  font-size: 28px;
  text-align: center;
}

/* line 75, /Users/luismuyaguari/Desktop/FullStack/SplitIt/app/assets/stylesheets/03_greeting_main.scss */
.main-greeting-bottom-section span {
  width: 260px;
  border-radius: 5px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background: #ff652f;
  padding: 10px;
  margin: 3px;
  color: white;
  line-height: normal;
  cursor: pointer;
}
