/* line 1, /Users/luismuyaguari/Desktop/FullStack/SplitIt/app/assets/stylesheets/04_logged_in_contents.scss */
.logged-in-div {
  display: flex;
  flex-direction: row;
  width: 70%;
  min-height: 100vh;
  margin: -33px auto 0;
  background: red;
}

/* line 13, /Users/luismuyaguari/Desktop/FullStack/SplitIt/app/assets/stylesheets/04_logged_in_contents.scss */
.left-nav {
  background: blue;
  flex: 10;
  display: flex;
  flex-direction: row;
}

/* line 22, /Users/luismuyaguari/Desktop/FullStack/SplitIt/app/assets/stylesheets/04_logged_in_contents.scss */
.left-nav-dashboard {
  background: grey;
}

/* line 30, /Users/luismuyaguari/Desktop/FullStack/SplitIt/app/assets/stylesheets/04_logged_in_contents.scss */
.logged-in-body-div {
  background: purple;
  flex: 28;
}

/* line 36, /Users/luismuyaguari/Desktop/FullStack/SplitIt/app/assets/stylesheets/04_logged_in_contents.scss */
.right-nav {
  flex: 10;
  background: yellow;
}
