


.entrance-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: calc(100vh - 116px);
  padding-left: 30px;
  padding-right: 30px;

}


.signin-logo {
  padding-right: 30px;
}

.login-signup-form {
  display: flex;
  flex-direction: column;
  font-family: 'Lato','Helvetica Neue',Helvetica,Arial,sans-serif !important;
  text-rendering: optimizeLegibility;
  flex: 3
}


.login-signup-form *{
  display: flex;
  flex-direction: column;
  font-size: 18px;

}

.login-signup-form input {
  padding: 4px;
  border: 1px;
  font-size: 20px;
  height: 24px;
  line-height: 24px;
  width: 95%;
  margin-bottom: 15px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
}


.login-signup-form label span {
  font-size: 18px;
  display: block;
}

.login-signup-form p {
  display: flex;
  flex-direction: row;
}

.login-signup-form p * {
  padding-right: 10px;

}


.demo-button {
  background: #5bc5a7;
  border: none;
  height: 100%;
  width: 115px;
  margin-top: 5px;
  margin-bottom: 15px;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-shadow: 0 -1px 0 #c83400;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.demo-button:hover  {
  cursor: pointer
}

.submit-credssignup input:hover {
  cursor: pointer
}
.submit-credslogin input:hover {
  cursor: pointer
}


.form-heading * {
  padding-top: 5px;
  padding-bottom: 10px;
  text-transform: uppercase;
  font-size: 16px;
  color: #999;
  font-weight: bold;
  line-height: 20px;
}


.email-and-password * {
  padding-bottom: 5px;
}
.submit-credslogin input {
  background: #ff652f;
  border: none;
  height: 100%;
  width: 95px;
  margin-top: 5px;
  color: white;
  padding: 9px 14px;
  text-align: center;
  text-shadow: 0 -1px 0 #c83400;
  box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
}


.submit-credssignup input {
  background: #ff652f;
  border: none;
  height: 100%;
  width: 125px;
  margin-top: 5px;
  color: white;
  padding: 9px 14px;
  text-align: center;
  text-shadow: 0 -1px 0 #c83400;
  box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
}


.entrance-form img {
  flex: 2
}


.greetings {
  display: flex;
  align-items: center;
}

.logoutbutton {
  background: #ff652f;
  margin: 25px;
  height: 25%;
  text-align: center;
  color: white;
  text-shadow: 0 -1px 0 #c83400;
  border-radius: 5px;
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
}



// errors

.creds-errors {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  border-color: #b34;
  background: #c45;
  border-radius: 0 0 4px 4px;

}

.creds-errors li {
  padding: 5px;
  color: white;
  font-size: 14px;

}



.headerLogos {
  color: white;
  text-decoration: none;
  padding-left: 5px;
font-size: 20px;
}
