// Add Friend Modal

.add-friend-modal {
  position: fixed;
  left: 40%;
  right: 40%;
  width:  352px;
  top: 20%;
  bottom: 30%;
  border: 1px solid #999;
  box-shadow: 0 2px 8px rgba(0,0,0,0.3);
  // background: red;
  min-height: 480px;
  border-radius: 10px;
  overflow: auto;
  line-height: 18px;
  font-size: 18px;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-family: 'Lato','Helvetica Neue',Helvetica,Arial,sans-serif !important;
  background: white;
}

.add-friend-modal div {
  padding: 5px;
}


.add-friend-header {
  background: #5cc5a7;
  color: #fff;
  border-bottom: 1px solid #36977b;
  text-shadow: 0 -1px 0 #318a71;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-bottom: 20px;
}

.close-x {
  float: right;
  font-size: 28px;
  margin-top: -3px;
  color: #fff;
  text-decoration: none;
  line-height: 18px;
  font-weight: bold;
  cursor: pointer;
}

.search-users {
  padding-left: 10px;
}



.input-search-user {
  border: 3px solid #fff;
  border-radius: 26px;
  box-sizing: border-box;
  padding: 10px 20px 13px;
  font-size: 24px;
  color: #fff;
  z-index: 2;
  position: relative;
  -webkit-appearance: textfield;
  text-rendering: auto;
  color: initial;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  margin: 0em;
  font: 400 11px system-ui;
  -webkit-writing-mode: horizontal-tb;
  background: lightgray;
  margin-left: 20px;
}


.search-Results ul {
  display: flex;
  flex-direction: column;
  padding: 5px;
  font-size: 25px;
}

.searched-user {
    display: flex;
    padding: 5px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 60%;
}


.modal-addFriendButton {
  background: #5cc5a7;
  color: #fff;
  text-shadow: 0 -1px 0 #318a71;
  padding: 10px;
  margin: 5px;
  margin-left: 20px;
  line-height: normal;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer


}






.modal-close {
  display: flex;
  justify-content: flex-end;
  letter-spacing: 3px;
  border-top: 1px solid #eee;
  text-align: right;
  padding: 8px 10px;

}


.close-add-friend {
  letter-spacing: 0;
  background: #f6f6f6;
  color: #333;
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
  padding: 9px 14px;
  font-size: 15px;
  line-height: normal;
  display: inline-block;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255,255,255,0.75);
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  outline: 0;
  border-radius: 7.5px;

}
