.add-bill-modal {
  background: white;
  z-index: 1;
  min-height: 0px;
  height: 380px;
}

.add-bill-modal div {
  padding: 0px;
  padding-left: 2.5px;
  padding-bottom: 5px;

}



//
.add-bill-form {
  display: flex;
  flex-direction: column;
}



// add bill header
.add-bill-form-header {
  border-bottom: 1px solid #eee;
  font-size: 14px;
  line-height: 18px;
  color: #333;
  display:flex;
}

.add-bill-form-header strong {
  font-weight: bolder;
  font-size: 16px;
}

.add-bill-form-header-friend {
    list-style-type: none;
    white-space: nowrap;
    overflow: visible;
    padding-right: 6px;
    height: 18px;
    margin: 3px;
    padding: 0 8px;
    background: 0;
    background-color: #f6f6f6;
    color: #000;
    cursor: default;
    border: 1px solid #bbb;
    border-radius: 15px;
    font-size: 15px;
    margin-top: -1%;
}




.bill-form-middle {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: right;
  padding-bottom:10px;

}

.bill-form-middle figure *{
  height: 70px;
  width: 55px;
}
.bill-descr-amt-div {
  display: flex;
  flex-direction: column;
}

.bill-descr-amt-div * {
  padding-top: 10px;
  padding-bottom: 10px;
}

.bill-descr-amt-div label {
  border-bottom: 1px dashed
}
.bill-descr-amt-div label input {
  text-align: left;
}

.input-bill-description {
  font-size: 20px;
    height: 24px;
    line-height: 24px;
    margin-top: 1px;
    margin-bottom: 3px;
    padding-left: 3px;
    padding-right: 3px;
    border: none !important;
    box-shadow: none !important;
    text-align: left;
    width: 177px;
    color: #333;
    border-radius: 0;
    padding-bottom: 2px;
    border: none;


}

.input-bill-total {
  font-size: 20px;
    height: 24px;
    line-height: 24px;
    margin-top: 1px;
    margin-bottom: 3px;
    padding-left: 3px;
    padding-right: 3px;
    border-bottom: 2px dashed #ccc !important;
    border: none !important;
    box-shadow: none !important;
    text-align: left;
    width: 177px;
    color: #333;
    border-radius: 0;
    padding-bottom: 2px;
    border: none;
}

.bill-form-splits {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  font-size: 14px;
}

.bill-form-splits * {
  margin-left: 5px;

}


.pay-dropdown, .split-percentage {
  display: inline-block;
  background: #f6f6f6;
  /* -webkit-border-radius: 10px; */
  -moz-border-radius: 10px;
  border-radius: 10px;
  height: 18px;
  line-height: 16px;
  padding: 2px 5px 0;
  border: 1px dashed #ccc;
  vertical-align: middle;
  color: #5cc5a7;
  margin: 0;
  font-size: inherit;
  cursor: pointer;
  text-decoration: none;
  overflow: hidden;
  white-space: nowrap;
  margin-left: 10px;

}
.split-percentage {
  text-align: right;
}



.date-div {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.input-bill-date {
  display: inline-block;
    background: #f6f6f6;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    height: 24px;
    line-height: 24px;
    width: 140px;
    padding: 0 5px;
    border: 1px solid #ccc;
    color: #666;
    margin: 5px;
    font-size: 13px;
    cursor: pointer;
    text-decoration: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
    font-weight: bold;
}



// save


.save-bill {
  background: #5cc5a7;
  color: #fff;
  text-shadow: 0 -1px 0 #318a71;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  font-size: 15px;
  line-height: normal;
  border-radius: 5px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  position: absolute;
  right:10px;
  bottom: 20px;
  letter-spacing: 0;

  padding: 9px 14px;

  vertical-align: middle;

  border: 1px solid #ccc;


}


.close-add-bill {
  position: absolute;
  right: 90px;
  bottom: 20px;
}
