.trans-index-details-label {
    margin-top: 12px;
    font-size: 13px;
    line-height: 24px;
    color: #999;
    text-transform: uppercase;
    margin: 0;
    font-family: inherit;
    font-weight: bold;
    text-rendering: optimizelegibility;

}

.trans-li {
  padding-bottom: 10px;
  padding-top: 5px;
  padding-bottom: 10px;
  padding-top: 5px;
  color: #333;
  font-size: 12px;
  list-style: disc;
  margin-bottom: 4px;
  line-height: 18px;
  list-style: disc;

}

.neg-money{
      color: #ff652f;
      font-size: 13px;
    font-weight: bold;
    line-height: 18px;
}

.pos-money {
  color: #5bc5a7;
}
