.ul-pending-friend {
  padding-top: 10px;

}


.friend-request-li {
  list-style: none;
  padding: 5px
}


.friend-request-div {
  display: flex;
}

.friend-request-div * {
  padding-left: 2.5px;
  padding-right: 2.5px;
}

.friend-request-img {
  height: 16px;
  width: 16px;
}

.accept-button {
  margin-bottom: 10px;
  background: #eee;
  border-color: #ccc;
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
  display: inline-block;
  padding: 4px 10px 4px;
  margin-bottom: 0;
  font-size: 13px;
  margin-left: 5px;
  line-height: 18px;
  color: #333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255,255,255,0.75);
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  font: 400 11px system-ui;
}
