.no-bill-entire-div {
  display: flex;
  cursor: default
}

.h2 {
  font-size: 28px;
  line-height: 110%;
  margin: 0;
  font-family: inherit;
  font-weight: bold;
  color: inherit;
  text-rendering: optimizelegibility;
  text-align: left;
}


.no-bill-add{

  
}
