.main-div {
  display: flex;
  flex-direction: column;
}


.bodydiv {
  position: relative;
  top: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 562px;
}

.entrance-form {
  display: flex;
  flex-direction: row;

}

.login-signup-form {
  display: flex;
  flex-direction: column;
  font-family: 'Lato','Helvetica Neue',Helvetica,Arial,sans-serif !important;
  text-rendering: optimizeLegibility;
  flex: 3
}

.login-signup-form *{
  display: flex;
  flex-direction: column;
  font-size: 18px;

}

.login-signup-form input {
  padding: 4px;
  border: 1px;
  font-size: 20px;
  height: 24px;
  line-height: 24px;
  width: 95%;
  margin-bottom: 15px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
}


.login-signup-form label span {
  font-size: 18px;
  display: block;
}

.login-signup-form p {
  display: flex;
  flex-direction: row;
}

.login-signup-form p * {
  padding-right: 10px;

}

.form-heading * {
  padding-top: 5px;
  padding-bottom: 10px;
  text-transform: uppercase;
  font-size: 16px;
  color: #999;
  font-weight: bold;
  line-height: 20px;
}



.submit-credslogin input {
  background: #ff652f;
  border: none;
  height: 100%;
  width: 95px;
  margin-top: 5px;
  color: white;
  padding: 9px 14px;
  text-align: center;
  text-shadow: 0 -1px 0 #c83400;
  box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
}


.submit-credssignup input {
  background: #ff652f;
  border: none;
  height: 100%;
  width: 125px;
  margin-top: 5px;
  color: white;
  padding: 9px 14px;
  text-align: center;
  text-shadow: 0 -1px 0 #c83400;
  box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
}


.entrance-form img {
  flex: 2
}


.greetings {
  display: flex;
  align-items: center;
}

.logoutbutton {
  background: #ff652f;
  margin: 25px;
  height: 25%;
  text-align: center;
  color: white;
  text-shadow: 0 -1px 0 #c83400;
  border-radius: 5px;
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
}




footer {
  background: grey;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: grey;
  padding: 20px;

}


.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: grey;
  padding: 20px;
}



.footer-links ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.footer-links li {
  padding-left: 10px;
}


.aboutus p {
  padding-top: 5px;
}
